@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerNav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    margin-bottom: 15px;
    z-index: 999;
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    z-index: 1;
}

.header_bar {
    background-color: #333;
    backdrop-filter: blur(2px);
    transition: background-color 0.3s ease;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    list-style: none;

}

.headerLink,
.title,
.loginButtonHeader {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
}

.title {
    margin: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Avenir Next", sans-serif;
}

.headerLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0c0c0c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.headerLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.headerLink {
    color: rgb(0, 0, 0);
}

.loginButtonHeader {
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: #ff6e51;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.loginButtonHeader:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    transform: scale(1.05);
}

.headerIcon {
    height: 22px;
    width: 22px;
}