.signInBtn,
.continueShoping {
    width: 280px;
    padding: 16px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

.signInBtn:hover,
.continueShoping:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.signInBtn {
    background: linear-gradient(100deg, #1695cc 0%, #9c8de0 100%);
    color: white;
}

.continueShoping {
    background-color: rgb(216, 216, 216);
    margin-left: 20px;
}


.loginContainerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputLogin {
    margin: 1em 0;
    font-size: 1em;
    padding-left: 10px;
    height: 50px;
    border: 1px solid hsla(0, 0%, 0%, 0.4);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
}

.loginTitle {
    margin: auto;
}

.loginBtn {
    padding: 1em 2em;
    background-color: #e0dcdc;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1em;
    transition: all 1s ease;
    outline: none;
}

.loginBtn:hover {
    background-color: #aaa9a9;
}

.loginButton {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
}

.loginButton:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signUpContainer {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.signUp {
    cursor: pointer;
    font-weight: bold;
}

.memberDetail {
    display: flex;
    gap: 5px;
}

.names {
    display: flex;
    gap: 5px;
}

.containerModal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: animatetop 0.4s ease-in-out;
}

.containerModal:target {
    display: flex;
}

.modal {
    width: 30rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
    color: hsl(0, 1%, 27%);
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(0, 0%, 75%, 0.3);
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: rgba(219, 216, 216, 0.5);
    border: 1px solid rgb(202, 202, 202);
    backdrop-filter: blur(5px);
}

.details {
    text-align: center;
}

.titleLog {
    font-size: 3.2rem;
    color: black;
}

.txt::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 18rem;
    border: 1px solid hsla(0, 0%, 1%, 0.2);
    border-radius: 100rem;
    pointer-events: none;
}

.btnModal {
    padding: 1rem 1.6rem;
    border: 1px solid hsla(0, 1%, 37%, 0.4);
    border-radius: 100rem;
    color: inherit;
    background: transparent;
    font-size: 1.4rem;
    font-family: inherit;
    letter-spacing: .2rem;
    transition: .2s;
    cursor: pointer;
    color: black;
}

.btnModal:hover,
.btnModal:focus {
    border-color: hsla(0, 0%, 4%, 0.6);
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem);
}

.link-2 {
    width: 4rem;
    height: 4rem;
    border: 1px solid hsla(0, 0%, 0%, 0.4);
    background-color: transparent;
    border-radius: 100rem;
    color: inherit;
    font-size: 2.2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.link-2::before {
    content: '×';
    -webkit-transform: translateY(-.1rem);
    transform: translateY(-.1rem);
}


.link-2:hover,
.link-2:focus {
    border-color: hsla(0, 0%, 0%, 0.6);
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem);
}

.alert {
    padding: 20px;
    background-color: #e6857e;
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
}

.alertGreen {
    padding: 20px;
    background-color: #617464;
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;

}

.alertGreen strong {
    font-size: 18px;
}

.alert strong {
    font-size: 18px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}