.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.product-card {
    padding-top: 70px;
    padding: 150px 50px 0 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px
}

.card2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 520px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.card2 .imgBox2 {
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}

.contentBox2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    min-width: 250px;
}

.buy2 {
    position: relative;
    padding: 10px 30px;
    margin-top: 15px;
    background: #dbdddc;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

.subHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    gap: 40px;
    /* border: solid 1px black; */
}


.price-slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    display: none;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 30%;
    height: 15px;
    border-radius: 10px;
    background: #f2f2f2;
    outline: none;
    margin: 0;
    padding: 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #03a9f4;
    cursor: pointer;
}

.price-slider-value {
    margin-left: 10px;
}

.price-slider-value span {
    font-size: 16px;
    font-weight: bold;
}

/* .priceSlider {} */

.sub {
    height: 100%;
    background-color: #eef0ef;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.searchBar {
    width: 300px;
}

.sort {
    border: none;
}

.sort option {
    height: 40px;
}